PizzaWaiterServiceApp/WebClient/Service References/PizzaWaiterTestServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Models" />
  <xs:element name="ProcessOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="partOrders" nillable="true" type="q1:ArrayOfPartOrder" />
        <xs:element minOccurs="0" name="phoneNr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientsByDishId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dishID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientsByDishIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="GetIngredientsByDishIdResult" nillable="true" type="q2:ArrayOfDishIngredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDishesByRestaurantMenuId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurantMenuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDishesByRestaurantMenuIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="GetDishesByRestaurantMenuIdResult" nillable="true" type="q3:ArrayOfDish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantMenues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaurantID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurantMenuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="GetRestaurantMenuesResult" nillable="true" type="q4:ArrayOfRestaurantMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalRestaurants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
        <xs:element minOccurs="0" name="longtitude" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalRestaurantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="GetLocalRestaurantsResult" nillable="true" type="q5:ArrayOfRestaurant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>