PizzaWaiterServiceApp/RestaurantClient/Service References/PizzaWaiterTestServiceReference/Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDish">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dish" nillable="true" type="tns:Dish" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDish" nillable="true" type="tns:ArrayOfDish" />
  <xs:complexType name="Dish">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="RestaurantMenu" nillable="true" type="tns:RestaurantMenu" />
      <xs:element minOccurs="0" name="RestaurantMenuID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dish" nillable="true" type="tns:Dish" />
  <xs:complexType name="RestaurantMenu">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Menu" nillable="true" type="tns:Menu" />
      <xs:element minOccurs="0" name="MenuID" type="xs:int" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Restaurant" nillable="true" type="tns:Restaurant" />
      <xs:element minOccurs="0" name="RestaurantID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestaurantMenu" nillable="true" type="tns:RestaurantMenu" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="Restaurant">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restaurant" nillable="true" type="tns:Restaurant" />
  <xs:simpleType name="OrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="WAITING" />
      <xs:enumeration value="COOKING" />
      <xs:enumeration value="TRANPORTING" />
      <xs:enumeration value="RECIEVED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
  <xs:complexType name="ArrayOfPartOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartOrder" nillable="true" type="tns:PartOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartOrder" nillable="true" type="tns:ArrayOfPartOrder" />
  <xs:complexType name="PartOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="CustomIngredients" nillable="true" type="tns:ArrayOfCustomIngredient" />
      <xs:element minOccurs="0" name="Dish" nillable="true" type="tns:Dish" />
      <xs:element minOccurs="0" name="DishID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartOrder" nillable="true" type="tns:PartOrder" />
  <xs:complexType name="ArrayOfCustomIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomIngredient" nillable="true" type="tns:CustomIngredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomIngredient" nillable="true" type="tns:ArrayOfCustomIngredient" />
  <xs:complexType name="CustomIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Include" type="xs:boolean" />
      <xs:element minOccurs="0" name="IngredientID" type="xs:int" />
      <xs:element minOccurs="0" name="PartOrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomIngredient" nillable="true" type="tns:CustomIngredient" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusID" type="tns:OrderStatus" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="UserAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RankID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="ArrayOfDishIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DishIngredient" nillable="true" type="tns:DishIngredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDishIngredient" nillable="true" type="tns:ArrayOfDishIngredient" />
  <xs:complexType name="DishIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dish" nillable="true" type="tns:Dish" />
      <xs:element minOccurs="0" name="DishID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Ingredient" nillable="true" type="tns:Ingredient" />
      <xs:element minOccurs="0" name="IngredientID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DishIngredient" nillable="true" type="tns:DishIngredient" />
  <xs:complexType name="Ingredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingredient" nillable="true" type="tns:Ingredient" />
  <xs:complexType name="ArrayOfRestaurantMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RestaurantMenu" nillable="true" type="tns:RestaurantMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurantMenu" nillable="true" type="tns:ArrayOfRestaurantMenu" />
  <xs:complexType name="ArrayOfRestaurant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restaurant" nillable="true" type="tns:Restaurant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurant" nillable="true" type="tns:ArrayOfRestaurant" />
</xs:schema>